venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store

# Streamlit cache
.streamlit/

# Build files
build/
dist/
*.spec

# Large ML models (optional)
# Uncomment if too large
# asl_classifier_finetuned.h5
